<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/headerFooter.css" th:href="@{/headerFooter.css}">
    <link rel="stylesheet" href="../../static/Abonnemment.css" th:href="@{/Abonnemment.css}">
    <title>LejeAbonnement</title>
</head>
<body>
    <div class="header">
        <img src="../../static/images/img.png" th:src="@{/images/img.png}" height="37" width="300" alt="logo"/>
        <p>BilAbonnement A/S</p>
    </div>
    <a href="VaelgBil.html">
        <button class="button" id="tilbageButton">Tilbage</button>
    </a>
    <div class="content">
        <form action="/PrisOverslag" method="get">
            <div class="inputRow">
                <label for="subscriptionType">Abonemment Type:</label>
                <select id="abonemmentType" name="abonnementType" required>
                    <option value="">Vælg Abonnement</option>
                    <option value="månedlig">Månedlig</option>
                    <option value="kvartal">Kvartal</option>
                    <option value="aarlig">Årlig</option>
                </select>
            </div>
            <button type="submit" class="button" id="submitSubscription">Næste</button>
        </form>

    </div>
    <div class="footer">
        <p>© 2021 Bilabonnement A/S</p>
    </div>
</body>
</html>