<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta packageName="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/headerFooter.css" th:href="@{/headerFooter.css}">
    <link rel="stylesheet" href="../../static/Kunde.css" th:href="@{/Kunde.css}">
    <title>KundeValg</title>
</head>
<body>
<div class="header">
    <img src="../../static/images/img.png" th:src="@{/images/img.png}" height="37" width="300" alt="logo"/>
    <p>BilAbonnement A/S</p>
</div>
<div>
    <a href="/PrisOverslag">
        <button class="button" id="tilbageButton">Tilbage</button>
        <input type="hidden" >
    </a>
</div>
<div class="content">


</div>

<div class="footer">
    <p>© 2021 Bilabonnement A/S</p>
</div>

</body>
</html>