
.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#tilbageButton {
    align-self: flex-start; /* Align to the start of the container */
    left: 20px;
    top: 50px;
    position: fixed;
    margin-top: 40px; /* Add some space from the top */
    margin-left: 40px; /* Add some space from the left */
    width: 100px;
    height: 25px;
}