.inputField {
    width: 25%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.button {
    cursor: pointer;
    margin-left: 10px;
    background-color: #7c7676; /* baggrund */
    transition: all 0.3s ease 0s; /* Animation */
    border: none; /* Fjerner border */
    color: white; /* Tekst farve ændres */
    border-radius: 50px; /* Rund knap */
    padding: 5px 30px; /* Plads rundt om teksten */
}
#tilbageButton:active {
    background-color: #413c3c; /* Adjust as needed */
}