body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: #f2f2f2;
    /*background: linear-gradient(to bottom, #ffffff, #ffffff, #969595, #a6a4a4,#ffffff, #ffffff);*/
}

.header {
    background-color: #ffffff;

    color: #000000;
    padding: 10px 0;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
    font-weight: bold;
    font-size: 18px;
}
.header img {
    position: absolute; /* position the image absolutely within the header */
    top: 50%; /* center the image vertically */
    left: 100px; /* add some space from the left */
    transform: translateY(-50%); /* vertically center the image */
    padding-left: 100px;
}

.footer {
    background-color: #ffffff;
    color: #000000;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    z-index: 1000;
    width: 100%;
    font-weight: bold;
    font-size: 18px;
}
