

.header {
    background-color: #ffffff;
    color: #000000;
    padding: 10px 0;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
    font-weight: bold;
    font-size: 18px;
}

.header img {
    position: absolute; /* position the image absolutely within the header */
    top: 50%; /* center the image vertically */
    left: 100px; /* add some space from the left */
    transform: translateY(-50%); /* vertically center the image */
    padding-left: 100px;
}

.footer {
    background-color: #ffffff;
    color: #000000;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    z-index: 1000;
    width: 100%;
    font-weight: bold;
    font-size: 18px;
}
