:root {
    --primary-color: #000000; /* A bright blue similar to Ønskeskyen */
    --secondary-color: #ffffff; /* White */
    --tertiary-color: #0056b3; /* A darker blue similar to Ønskeskyen */
    --table-cell-color: #e9ecef; /* A light grey for table cells */
    --button-hover-color: #0056b3; /* A darker blue for button hover state */
    --background-linear-gradient: linear-gradient(to bottom, lightblue, cornflowerblue); /* A light grey gradient, blue */

    --error-message-color: #a94442; /* A lighter red for error messages */
    --error-message-background-color: #f8d7da;
    --error-message-border-color: #f5c6cb;

    --success-message-color: #3c763d; /* A lighter green for success messages */
    --success-message-background-color: #dff0d8;
    --success-message-border-color: #d6e9c6;
}


body {
    font-family: sans-serif;

    /* ------------------- body positioning -------------------
     */
    margin: 0;
    padding: 0;
    min-height: 100vh;

    /* ------------------- content positioning -------------------
    */
    display: flex;
    flex-direction: column;

    justify-content: center;

    /* ------------------- color -------------------
    */

    color: var(--primary-color);
    background: var(--background-linear-gradient);

}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.three-containers {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
}
.three-containers-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}
    .top-container-column {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
    }
    .center-container-column {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
        padding-bottom: 5%;
    }
    .bottom-container-column {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
    }


/*
small button for the log out button
 */
.small-button {
    /*     small text size */
    font-size: 10px;
}

.left-side-container {
    width: 25%;
    padding-left: 5%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.center-container {
    width: 40%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.right-side-container {
    width: 25%;
    padding-right: 5%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}