<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/headerFooter.css" th:href="@{/headerFooter.css}">
    <link rel="stylesheet" href="../static/DashBoard.css" th:href="@{/DashBoard.css}">
    <title>BilAbonemment Dashboard</title>
</head>
<body>

<div class="header">
    <img src="../static/images/img.png" th:src="@{/images/img.png}" height="37" width="300"/>
    <p>BilAbonnement A/S</p>
</div>
<div class="content-container">
    <div class="flex-container">
        <div class="InformationsBarOgKNAP">
            <table class="tables-tyling">
                <tr>
                    <td>Antal udlejede Biler</td>
                    <td>Den totale indkomst for udlejede biler</td>
                </tr>
                <tr>
                    <td><span th:text="${AntalUdlejedeBiler}"></span></td>
                    <td><span th:text="${SamletIndkomstForBiler}"></span></td>
                </tr>
            </table>
            <form action="/forretningsrapport" method="post">
                <button class="redirect-button" type="submit">Generer Rapport</button>
            </form>
        </div>

        <div class="archive">
            <h2>Søg efter Rapporter</h2>
            <h3>Husk at tjekke skrive datoformatet, så det passer til det i boksen</h3>
            <form th:action="@{/dashboard/search}" method="get">
                <label for="date">Dato Genereret:</label>
                <input type="date" id="date" name="date">
                <button type="submit">Søg</button>
            </form>

            <h2 class="ArkivTitel">Arkiv</h2>
            <table class="ArkivTabel">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Dato Genereret</th>
                    <th>Genererede rapporter</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="rapport : ${alleRapporter}">
                    <td th:text="${rapport.id}"></td>
                    <td th:text="${rapport.datoGenereret}"></td>
                    <td>
                        <a th:href="@{/forretningsrapport/se/{id}(id=${rapport.id})}">Se Rapport</a>
                    </td>
                </tr>
                </tbody>
            </table>
    <div class="left-header">
        <img src="../../static/images/img.png" th:src="@{/images/img.png}" height="37" width="300" alt="logo"/>
    </div>
    <div class="center-header">
        <p>BilAbonnement A/S</p>
    </div>
    <div class="right-header">

        <div class="show-if-not-loggedIn" th:unless="${session.loggedIn}">
            <h6 class = "not-logged-in-yet-line"> Not Logged in yet
            </h6>
            <div class="login-button-line">
                <a href="/logout" class="small-button">
                    <button class="button" id="logOutButton"> Log in </button>
                </a>
            </div>
        </div>

        <div class="show-if-loggedIn" th:if="${session.loggedIn}">

            <h7 class="logged-in-as-line">
                Logged in as:
            </h7>

            <div class="user-name-line">
                <h4 th:text="${session.loggedInBruger.brugerNavn}">
                </h4>
            </div>
            <div class="logout-button-line">
                <a href="/home" class="small-button">
                    <button class="button"> Log out </button>
                </a>
            </div>

        </div>
    </div>
</div>



<div class="dashboard">
    <div class="stats">
        <div>Antal udlejede Biler: <span th:text="${AntalUdlejedeBiler}"></span></div>
        <div>Toltale samlede indkomst: <span th:text="${SamletIndkomstForBiler}"></span></div>
    </div>
</div>

    </div>
</div>
<div class="footer">
    <p>© 2021 Bilabonnement A/S</p>
</div>

</body>
</html>