<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/headerFooter.css" th:href="@{/headerFooter.css}">
    <link rel="stylesheet" href="../static/DashBoard.css" th:href="@{/DashBoard.css}">
    <title>BilAbonemment Dashboard</title>
</head>

<body>

<div class="header">
    <img src="../static/images/img.png" th:src="@{/images/img.png}" height="37" width="300"/>
    <p>BilAbonnement A/S</p>
</div>
<div class = "content">


    <table class="tables-tyling">
        <tr>
        <td>Antal udlejede Biler</td>
        <td>Den totale indkomst for udlejede biler</td>
        </tr>

        <tr>
        <td><span id="field2" th:text="${AntalUdlejedeBiler}"></span></td>
        <td><span id="field4" th:text="${SamletIndkomstForBiler}"></span></td>
        </tr>
    </table>

    <form action="/forretningsrapport" method="post">
        <button class="redirect-button" type="submit">Generer Rapport</button>
    </form>




</div>

<div class="footer">
    <p>© 2021 Bilabonnement A/S</p>
</div>

</body>
</html>