<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta packageName="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrer Skade</title>

    <!--                                   CSS files                                                 -->
    <link rel="stylesheet" href="/style.css" th:href="@{/style.css}">
    <link rel="stylesheet" href="/SkadeRapport.css" th:thref="@{/SkadeRapport.css}">
    <link rel="stylesheet" href="/GenererSkadeRapport.css" th:thref="@{/GenererSkadeRapport.css}">
</head>
<body>
<div class="header">
    <div class="left-header">
        <img src="../../static/images/img.png" th:src="@{/images/img.png}" height="37" width="300" alt="logo"/>
    </div>
    <div class="center-header">
        <p>BilAbonnement A/S</p>
    </div>
    <div class="right-header">

        <div class="show-if-not-loggedIn" th:unless="${session.loggedIn}">
            <h6 class = "not-logged-in-yet-line"> Not Logged in yet
            </h6>
            <div class="login-button-line">
                <a href="/logout" class="small-button">
                    <button class="button" id="logOutButton"> Log in </button>
                </a>
            </div>
        </div>

        <div class="show-if-loggedIn" th:if="${session.loggedIn}">

            <h7 class="logged-in-as-line">
                Logged in as:
            </h7>

            <div class="user-name-line">
                <h4 th:text="${session.loggedInBruger.brugerNavn}">
                </h4>
            </div>
            <div class="logout-button-line">
                <a href="/home" class="small-button">
                    <button class="button"> Log out </button>
                </a>
            </div>

        </div>
    </div>
</div>

<div class = "content">

    <h1>
        Opret SkadeRapport for <th th:value="${session.lejeAftaleID}"></th>
    </h1>

    <div class = "three-containers">

        <form action="#" th:action="@{/SkadeRapport/refresh}" method="get">
            <table>
                <thead>
                <th>
                    Skader Ikke Valgt
                </th>
                <tr>
                    <td>Skade</td>
                    <td>Pris</td>
                </tr>
                </thead>

                <tr th:each="skade : ${session.skaderIkkeValgt}">
                    <td>
                        <label id="skadeNavn">
                            <span th:text="${skade}"></span>
                        </label>
                    </td>
                    <td>
                        <label id="pris">

                        </label>
                    </td>
                    <td th:text="${skade}"></td>
                </tr>
            </table>
            <input type="submit" value="Refresh"/>
        </form>

        <form action="#" th:action="@{/SkadeRapport/opret}" method="post">
            <table>
                <tr>
                    <th>Skader Valgt</th>
                </tr>
                <tr th:each="skade : ${session.skaderValgt}">
                    <td><input type="checkbox" th:value="${skade}" th:packageName="skaderValgt" checked/></td>
                    <td th:text="${skade}"></td>
                </tr>
            </table>
            <label for="kilometerKoertOver">Kilometer Kørt Over:</label>
            <input type="number" id="kilometerKoertOver" packageName="kilometerKoertOver" th:value="${session.kilometerKoertOver}">
            <input type="submit" value="Submit"/>
        </form>
    </div>
</div>


</body>
</html>