<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/style.css" th:href="@{/style.css}">
    <link rel="stylesheet" href="../static/headerFooter.css" th:href="@{/headerFooter.css}">
    <link rel="stylesheet" href="../static/LejeAftale.css" th:href="@{/LejeAftale.css}">

    <title>Leje Aftale</title>

</head>
<body>
<div class="header">
    <img src="../static/images/img.png" height="37" width="300" alt="logo"/>
    <p>BilAbonnement A/S</p>
</div>

<button class="button" id="tilbageButton">Tilbage</button>

<div class = "content">
    <div class="opretLeje">
        <a href="VaelgBil.html">
            <button class="button" id="opretLeje">Opret Leje Aftale</button>
        </a>
    </div>

    <div class="archive">
        <input type="text" id="searchInput" placeholder="Søg efter dato...">
        <button id="searchButton">Search</button>
        <h2 class="ArkivTitel">Arkiv</h2>
        <table class="ArkivTabel">
            <thead>
            <th>BilNR</th>
            <th>Dato</th>
            <th>Se rapport</th>
            </thead>
            <tbody>
            <tr>
                <td>Bil 1</td>
                <td>2024-05-16</td>
                <td><button>Se rapport</button></td>
            </tr>
            <tr>
                <td>Bil 1</td>
                <td>2024-05-16</td>
                <td><button>Se rapport</button></td>
            </tr>
            <tr>
                <td>Bil 1</td>
                <td>2024-05-16</td>
                <td><button>Se rapport</button></td>
            </tr>
            <tr>
                <td>Bil 1</td>
                <td>2024-05-16</td>
                <td><button>Se rapport</button></td>
            </tr>
            <tr>
                <td>Bil 1</td>
                <td>2024-05-16</td>
                <td><button>Se rapport</button></td>
            </tr>
            <tr>
                <td>Bil 1</td>
                <td>2024-05-16</td>
                <td><button>Se rapport</button></td>
            </tr>
            <tr>
                <td>Bil 1</td>
                <td>2024-05-16</td>
                <td><button>Se rapport</button></td>
            </tr>
            <tr>
                <td>Bil 1</td>
                <td>2024-05-16</td>
                <td><button>Se rapport</button></td>
            </tr>
            <tr>
                <td>Bil 1</td>
                <td>2024-05-16</td>
                <td><button>Se rapport</button></td>
            </tr>
            <tr>
                <td>Bil 1</td>
                <td>2024-05-16</td>
                <td><button>Se rapport</button></td>
            </tr>
            <tr>
                <td>Bil 1</td>
                <td>2024-05-16</td>
                <td><button>Se rapport</button></td>
            </tr>
            <tr>
                <td>Bil 1</td>
                <td>2024-05-16</td>
                <td><button>Se rapport</button></td>
            </tr>
            <tr>
                <td>Bil 1</td>
                <td>2024-05-16</td>
                <td><button>Se rapport</button></td>
            </tr>
            <tr>
                <td>Bil 1</td>
                <td>2024-05-16</td>
                <td><button>Se rapport</button></td>
            </tr>
            <tr>
                <td>Bil 1</td>
                <td>2024-05-16</td>
                <td><button>Se rapport</button></td>
            </tr>

            </tbody>

        </table>
    </div>
</div>

<div class="footer">
    <p>© 2021 Bilabonnement A/S</p>
</div>
</body>
</html>