<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/headerFooter.css">
    <link rel="stylesheet" href="/static/LejeAftale.css">
    <title>Leje Aftale</title>
</head>
<body>
<div class="header">
    <img src="../static/images/img.png" height="37" width="300"/>
    <p>BilAbonnement A/S</p>
</div>

<div class = "content">


    <div class="archive">
        <input type="text" id="searchInput" placeholder="Søg efter dato...">
        <button id="searchButton">Search</button>
        <h2>Arkiv</h2>
        <ul>
            <li>Vehicle 1 + Dato<button>View Report</button></li>
            <li>Vehicle 2 + Dato<button>View Report</button></li>
            <li>Vehicle 3 + Dato<button>View Report</button></li>
        </ul>
    </div>
</div>

<div class="footer">
    <p>© 2021 Bilabonnement A/S</p>
</div>
</body>
</html>