<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <!--                                   CSS files                                                 -->
    <link rel="stylesheet" href="/style.css" th:href="@{/style.css}">
    <link rel="stylesheet" href="/headerFooter.css" th:href="@{/headerFooter.css}">

    <link rel="stylesheet" href="/seSkadeRapport.css" th:href="@{/seSkadeRapport.css}">


    <title>Title</title>
</head>
<body>
<div class="header">
    <div class="left-header">
        <img src="../../static/images/img.png" th:src="@{/images/img.png}" height="37" width="300" alt="logo"/>
    </div>
    <div class="center-header">
        <p>BilAbonnement A/S</p>
    </div>
    <div class="right-header">

        <div class="show-if-not-loggedIn" th:unless="${session.loggedIn}">
            <h6 class = "not-logged-in-yet-line"> Not Logged in yet
            </h6>
            <div class="login-button-line">
                <a href="/logout" class="small-button">
                    <button class="button" id="logOutButton"> Log in </button>
                </a>
            </div>
        </div>

        <div class="show-if-loggedIn" th:if="${session.loggedIn}">

            <h7 class="logged-in-as-line">
                Logged in as:
            </h7>

            <div class="user-name-line">
                <h4 th:text="${session.loggedInBruger.brugerNavn}">
                </h4>
            </div>
            <div class="logout-button-line">
                <a href="/home" class="small-button">
                    <button class="button"> Log out </button>
                </a>
            </div>

        </div>
    </div>
</div>

<div class="container mt-3">
    <div class="card text-center">
        <div class="card-body">
            <div class="row">
                <div class="col-8">
                    <a>
                        heyo
                    </a>
                </div>
                <div class="col-4">
                    <a>
                        heyo
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>