<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <!--                                   CSS files                                                 -->
    <link rel="stylesheet" href="/style.css" th:href="@{/style.css}">
    <link rel="stylesheet" href="/headerFooter.css" th:href="@{/headerFooter.css}">

    <link rel="stylesheet" href="/seSkadeRapport.css" th:href="@{/seSkadeRapport.css}">


    <title>Title</title>
</head>
<body>

<div class="container mt-3">
    <div class="card text-center">
        <div class="card-body">
            <div class="row">
                <div class="col-8">
                    <a>
                        heyo
                    </a>
                </div>
                <div class="col-4">
                    <a>
                        heyo
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>