<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Skade- og Udbedring</title>
    <link rel="stylesheet" href="/SkadeRapport.css">
    <link rel="stylesheet" href="/headerFooter.css" th:href="@{/headerFooter.css}">
    <style>

    </style>
</head>
<body>
<div class="header">
    <img src="../static/images/img.png" th:src="@{/images/img.png}" height="37" width="300"/>
    <p>BilAbonnement A/S</p>
</div>

<button id="tilbageButton">Tilbage</button>

<div class = "content">



    <br>
    <br>
    <br>

    <table>
        <thead>
        <tr>
            <th>Bil</th>
            <th>Dato</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="lejeAftale : ${LejeAftalerUdenRapport}">
            <td th:text="${lejeAftale.bilID}">BilID</td>
            <td th:text="${#temporals.format(lejeAftale.slutDato, 'yyyy-MM-dd')}">SlutDato</td>
            <td>
                <form th:action="@{/SkadeRapport/opret}" method="post">
                    <input type="hidden" name="lejeAftaleID" th:value="${lejeAftale.ID}" />
                    <button>Generer Rapport</button>
                </form>
            </td>
        </tr>
        </tbody>

    </table>


    <div class="archive">
        <input type="text" id="searchInput" placeholder="Søg efter dato...">
        <button id="searchButton">Search</button>
        <h2 class="ArkivTitel">Arkiv</h2>
        <table class="ArkivTabel">
            <thead>
            <th>BilNR</th>
            <th>Dato</th>
            <th>Se rapport</th>
            </thead>
            <tbody>
            <tr th:each="lejeAftale : ${LejeAftaleMedRapport}">
                <td th:text="${lejeAftale.bilID}">BilID</td>
                <td th:text="${#temporals.format(lejeAftale.slutDato, 'yyyy-MM-dd')}">SlutDato</td>
                <td>
                    <a th:href='@{/SkadeRapport/se(id=${lejeAftale.skadeRapportID})}'>
                        <button >Se rapport</button>
                    </a>
                </td>

            </tr>

            </tbody>

        </table>
    </div>
</div>

<div class="footer">
    <p>© 2021 Bilabonnement A/S</p>
</div>


</body>
</html>