<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Skade- og Udbedring</title>
    <link rel="stylesheet" href="/style.css" th:href="@{/style.css}">
    <link rel="stylesheet" href="/SkadeRapport.css" th:href="@{/SkadeRapport.css}">
    <link rel="stylesheet" href="/headerFooter.css" th:href="@{/headerFooter.css}">
    <style>

    </style>
</head>

<body>

<div class="header">
    <div class="left-header">
        <img src="../../static/images/img.png" th:src="@{/images/img.png}" height="37" width="300" alt="logo"/>
    </div>
    <div class="center-header">
        <p>BilAbonnement A/S</p>
    </div>
    <div class="right-header">

        <div class="show-if-not-loggedIn" th:unless="${session.loggedIn}">
            <h6 class = "not-logged-in-yet-line"> Not Logged in yet
            </h6>
            <div class="login-button-line">
                <a href="/logout" class="small-button">
                    <button class="button" id="logOutButton"> Log in </button>
                </a>
            </div>
        </div>

        <div class="show-if-loggedIn" th:if="${session.loggedIn}">

            <h7 class="logged-in-as-line">
                Logged in as:
            </h7>

            <div class="user-name-line">
                <h4 th:text="${session.loggedInBruger.brugerNavn}">
                </h4>
            </div>
            <div class="logout-button-line">
                <a href="/home" class="small-button">
                    <button class="button"> Log out </button>
                </a>
            </div>

        </div>
    </div>
</div>


<div class = "content">

    <h2>Skade- og Udbedring</h2>

    <div class="three-containers">

    <div class="left-side-container">

    </div>


    <table class="center-container">
        <thead>
        <tr>
            <th>Bil</th>
            <th>Dato</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="lejeAftale : ${LejeAftalerUdenRapport}">
            <td th:text="${lejeAftale.bil.id}">BilID</td>
            <td th:text="${#temporals.format(lejeAftale.slutDato, 'yyyy-MM-dd')}">SlutDato</td>

            <td th:if="session.loggedIn">
                <form action="#" th:action="@{/SkadeRapport/opret}" method="get">
                    <input type="hidden" name="lejeAftaleID" th:value="${lejeAftale.ID}" />

                    <button>Generer Rapport</button>
                </form>
            </td>
            <td th:unless="session.loggedIn">
                <button onclick="alert('Du skal være logget ind for at generere en skaderapport')">Generer Rapport</button>
            </td>


        </tr>
        </tbody>

    </table>


    <div class="archive">
        <input type="text" id="searchInput" placeholder="Søg efter dato...">
        <button id="searchButton">Search</button>
        <h2 class="ArkivTitel">Arkiv</h2>
        <table class="ArkivTabel">
            <thead>
            <th>BilNR</th>
            <th>Dato</th>
            <th>Se rapport</th>
            </thead>
            <tbody>
            <tr th:each="lejeAftale : ${LejeAftaleMedRapport}">
                <td th:text="${lejeAftale.bil.id}">BilID</td>
                <!-- temporals for LocalDate rendering -->
                <td th:text="${#temporals.format(lejeAftale.slutDato, 'yyyy-MM-dd')}">SlutDato</td>
                <td>
                    <!-- @GetMapping("/se/lejeAftaleID={lejeAftaleID}/skadeRapportID={skadeRapportID}") -->
                    <!-- <a th:href='@{/SkadeRapport/se/lejeAftaleID=${lejeAftale.ID}/skadeRapportID=${lejeAftale.skadeRapportID}}'> -->
                    <a th:href="@{'/SkadeRapport/se/lejeAftaleID=' + ${lejeAftale.ID} + '/skadeRapportID=' + ${lejeAftale.skadeRapport.ID}}">

                        <button >Se rapport</button>
                    </a>
                </td>

            </tr>

            </tbody>
        </table>
    </div>
    </div>
</div>

<div class="footer">
    <p>© 2021 Bilabonnement A/S</p>
</div>


</body>
</html>